body {
    display: flex;
    flex-direction: column;
}

/* container for recipe title and image */
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: auto;
    border: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.img-1 {
    align-self: center;
    width: auto;
    height: 250px;
    margin-bottom: 25px;
}

/* container for recipe description */
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: auto;
    border: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 25px;
}

h2 {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/* container for both the recipe ingredients and steps */
.ingredients-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: auto;
    border: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 25px;
}

/* styling for the unordered and ordered lists contained in ingredients & steps */
ul {
    list-style-position: inside;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

ol {
    list-style-position: inside;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

ol li {
    margin-bottom: 10px;
    margin-right: 30px;
}

ol li::marker {
    font-weight: bold;
}