body {
    display: flex;
    flex-direction: column;
}

/* container for h1 at top of page */
.title-container {
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* flex container for displayed recipes */
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the containers horizontally */
}

/* individual recipe container */
.container-2 {
    background-color: white;
    height: auto;
    width: 250px;
    margin: 10px;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-1 {
    height: auto;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

li {
    list-style-position: inside;
    text-align: justify;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
